<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard Assigment</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
   
    {% for i in range(x)%} <!--Rows-->
        {%for j in range(y) %}<!--Colms-->
           <!--Current Row + Current Colm-->
            {% if (i + j) % 2 == 0 %}
                 {% set color = color1 %}  
            {% else %}
                 {% set color = color2 %}
            {%endif%}
            <div class="rows" style="background-color: {{color}};">

            </div>
            
        {%endfor%}
        <br/>
    {%endfor%}
</body>
</html>