<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Template Rendering</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h2>More Template Rendering</h2>

    {% for item in random_numbers %}
        <p class="item">{{item}}</p>
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_info %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    
</body>
</html>