.item{
    display: inline-block;
    width: 25%;
    background-color: rgb(173, 158, 158);
    padding: 10px;
    text-align: center;
    color: white;
  }

  table{
      width: 80%;
  }

  table tr> td,th{
      padding: 10px;
      border-bottom: 1px solid black;
      text-align: center;
  }