<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Author</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container p-4">

      <div class="row">
        <h4>{{ author.first_name}} {{ author.last_name}}</h4>
      </div>
      <div class="row">
        <p class="col-2"> ID: {{ author.id}}</p>
        
      </div>
      <div class="row">
        <p class="col-2">Notes: </p>
        <p class="col-5 fw-bold">{{ author.notes  }}</p>
      </div>
      
      <div class="row mb-3">
        <p class="col-2">Books:</p>
    
        <div class="col-9">
            <ul class="list-unstyled">
                {% for author_book in author.books.all %}
                    <li class="mb-2">
                        {{ author_book.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class="row mb-3">
        <form action="{% url 'update_author_books' %}" method="post" class="d-flex gap-3 col-7">
          {% csrf_token %}
          <input type="hidden" name="author_id" value="{{author.id}}">

          <select class="form-select bg-light" name="book_id" required>
            <option value="0" selected>-- select a book --</option>
            {% for book in all_books %}
             <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
          </select>

          <input type="submit" class="btn btn-primary" value="Update">

    </form>
      </div>
             
    </div>
</body>
</html>