.header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  background-color: rgb(136, 191, 243);
}

#ff {
  width: 50px;
  height: 20px;
}

#myid {
  display: flex;
  gap: 20px;
  list-style: none;
}

.san {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  border-bottom: 4px solid black;
}

.main {
  margin-left: 150px;
  font-size: xx-large;
  display: flex;
  justify-content: space-evenly;
}

.pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.day {
  text-align: center;

  width: 250px;

  background-color: rgba(21, 21, 20, 0.145);
}

span {
  margin: 15px;
}

.num {
  color: red;
}

.num2 {
  color: blue;
}

.end {
  width: 1200px;
  height: 200px;
  padding-right: px;

  margin: 0 14%;

  /* position:relative;  */
}
.endcontant {
  display: flex;
  justify-content: space-evenly;
 border: 4px solid black;
  align-items: center;
}



#btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  background-color: rgb(136, 191, 243);
  width: 150px;
  height: 50px;
  box-shadow: 7px 7px 0px black;
  border-radius: 5px;
  /* position: absolute;
    right: 30px;
    top: 40px */
}
.cookie {
  font-size: x-large;
  margin-left: 30px;
}
p {
  margin-left: 20px;
}
